[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:fixed !important; top: auto !important; width:100%; z-index: 999;}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.movie-poster, .mini-poster-container {
  text-align: center;
}

.movie-poster > img {
  border-radius: 1em 1em 1em 1em;
  border: 1px solid #333333;
}

.retangular-movie-poster {
  padding-left: 70px !important;
}

.cinefilia-bubble {
  font-size: 11px;
  font-weight: 700;
  padding: 0.2em 0.5em;
  border-radius: 1em 1em 1em 1em;
}

.movie-info > tbody > tr > td { 
  background: repeat scroll 0 0 #5E87B0;
  padding: 1px;
}

.movie-info > tbody > tr >  td + td { 
  background: repeat scroll 0 0 #333333;
}

.ui-li-desc {
  overflow: visible;
  white-space: normal;
}

.ui-content {
  padding-bottom: 42px;
}

/* Tirar text-shadow para melhorar performance em androids antigos */
.ui-body-a,
.ui-bar-a,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-shadow-inset,
.ui-icon-shadow,
.ui-focus,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active {
  text-shadow: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

@media (max-width: 400px) {
  .movies-details-breakpoint {
    width: 100% !important;
    float: none;
  }
}
