[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.movie-poster {
  text-align: center;
  overflow: hidden;
}

.retangular-movie-poster {
  padding-left: 70px !important;
}

.cinefilia-bubble {
  font-size: 11px;
  font-weight: 700;
  padding: 0.2em 0.5em;
  border-radius: 1em 1em 1em 1em;
}

.ui-li-desc {
  overflow: visible;
}
